{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="col-12 mb-2">
    {% if user.is_authenticated %}
       <a class="btn btn-btn btn-primary" href="{% url 'materials:create' %}">Добавить блог</a>
    {% endif %}
</div>
{% for object in object_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>- Содержимое: {{ object.content }}</li>
                <li>- Дата изготовления:</li>
                <li> {{ object.creation_date }}</li>
            </ul>
            <nav class="ms-5">
                <a href="{% url 'materials:view' object.pk %}" type="button"
                   class="btn btn-lg btn-sm btn-outline-secondary">Подробнее</a>
                {% if perms.materials.change_post %}
                <a href="{% url 'materials:edit' object.pk %}" type="button"
                   class="btn btn-lg btn-sm btn-outline-secondary">Изменить</a>
                {% endif %}
                {% if perms.materials.delete_post %}
                <a href="{% url 'materials:delete' object.pk %}" type="button"
                   class="btn btn-lg btn-sm btn-outline-danger">Удалить</a>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}