{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
{% for object in object_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> Цена: ₽{{ object.price }}</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>- Категория: {{ object.category }}</li>
                <li>- Дата изготовления:</li>
                <li> {{ object.date_create }}</li>
                <li>- Краткое описание:</li>
                <li> {{ object.description|limit_symbols }}</li>
            </ul>
            <nav class="ms-5">
                <a class="p-2 btn btn-outline-primary">Купить</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_card' object.pk %}">Подробнее</a>

            </nav>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}