{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}
<div class="col-12 mb-2">
    {% if perms.catalog.add_product %}
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить товар</a>
    {% endif %}
</div>
{% for object in object_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.name|title }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"> Цена: ₽{{ object.price }}</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>- Категория: {{ object.category }}</li>
                <li>- Дата изготовления:</li>
                <li> {{ object.date_create }}</li>
                <li>- Краткое описание:</li>
                <li> {{ object.description|limit_symbols }}</li>
                {% for form in formset %}
                {% if form.product == object and form.version_sign == True %}
                <h5>Активная версия</h5>
                <li>- Номер версии: {{ form.version_number }}</li>
                <li>- Название версии: {{ form.version_name }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <nav class="ms-5">
                <a class="p-2 btn btn-outline-primary">Купить</a>
                <a href="{% url 'catalog:product_card' object.pk %}"
                   class="p-2 btn btn-outline-primary">Подробнее</a>
                {% if perms.catalog.change_product %}
                <a href="{% url 'catalog:update_product' object.pk %}" type="button"
                   class="btn btn-lg btn-sm btn-outline-secondary">Изменить</a>
                {% endif %}
                {% if perms.catalog.delete_product %}
                <a href="{% url 'catalog:delete_product' object.pk %}" type="button"
                   class="btn btn-lg btn-sm btn-outline-danger">Удалить</a>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}